.CityPopup {
  padding: 10px;
}

.CityPopupLong {
  height: 300px;
  overflow: scroll;
}

.Hover {
  background-color: gray;
}

.Active {
  background-color: red;
  color: white
}

.City {
  padding: 10px;
}