.CityPopup {
  padding: 5px;
}

.CityPopupLong {
  height: 300px;
  overflow: scroll;
}

.Hover {
  background-color: gray;
}

.Active {
  background-color: red;
  color: white
}

.City {
  padding: 20px;
}

.City:hover{
   background-color: #F2F2F2;
}