.Home {
  flex: 1 0 40%;
  margin: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  color: #484848;
}

.HomePicture {
  flex: 2;
  border-radius: 3px;
}

.HomeInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px;
}

.HomeDetails {
  display: flex;
}

.HomeSize {
  padding-right: 20px;
}

h3, h4, p {
  padding: 0px;
  margin: 3px;
  text-align: left;
}