.ListView {
  flex: 7;
  overflow: scroll;
  padding: 10px;
}

.HomesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

li {
    color: #484848;
    display: inline-block;
}