.ListView {
  flex: 1;
  background-color: green;
  color: white;
  overflow: scroll;
  padding: 10px;
}

.HomesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  background-color: yellow;
}

ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

li {
    display: inline-block;
}