.Navbar {
  background-color: white;
  color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #DBE0E0;
}

.NavbarLogo {
  flex: 1;
  color: #484848;
}

.NavbarFilters {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Reset {
  background-color: white;
  color: #FF5A5F;
  margin: 10px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ResetHidden {
  display: none;
}