.SliderPopup {
  padding: 20px;
}

.SliderTitle {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SliderRange {
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SliderValues {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}