.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 10%;
 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.img{
  border-radius: 10%;
}
